
<% if @task %>
<div id="<%= @task.id %>">
<li> <%= @task.body %> <span> 
	<strong> 
		<span id="status<%= @task.id %>"> 
		<% if @task.status %> 
		   &#10004; 
		 <% else %> 
		  &#x2718;
		<% end %>
	</span>
	</strong>
		<%= form_for @task, url:task_path(@task.id), method: :patch, remote: true do |f| %>
		 <%= f.label "Done?" %>
		<%= f.check_box :status %>
		<%= f.submit "Submit" %>
		<% end %>
	</span> </li> 
	<span> <%= @task.created_at.strftime("Created at %I:%M%p on %m/%d/%Y") %> </span>
	<span> <%= link_to "Delete", task_path(@task.id), method: :delete, remote: true, data: {confirm: "You sure?"} %></span>
	<br><br>
</div>
<% end %>