<h1>To Do List</h1>


<ul id="tasks">
<% @tasks.each do |t| %>
	<div id="<%= t.id %>">
		<li> <%= t.body %> 
			<span> 
				<strong> 
					<span id="status<%= t.id %>"> 
						<% if t.status %> 
						   <!-- DONE  -->
						   &#10004;
						 <% else %> 
						 <!-- NOT DONE -->
						  &#x2718;
						<% end %>
					</span> 
				</strong>
			</span> 
		</li> 
			<div class="indent">	
			<%= form_for t, url:task_path(t.id), method: :patch, remote: true do |f| %>
			 <%= f.label "Done?" %>
			<%= f.check_box :status %>
			<%= f.submit "Submit" %>
			<% end %>
			
	
		<span> <%= t.created_at.strftime("Created at %I:%M%p on %m/%d/%Y") %> </spans>
		<span> <%= link_to "Delete", task_path(t.id), method: :delete, remote: true, data: {confirm: "You sure?"} %></span>
		</div>
		<br><br>
	</div>
<% end %>
</ul>

<hr>
<h1>Add New Task</h1>
<div class="new_task">
	<%= form_for(@task, remote: true, :format => :js) do |f| %>
	<%= f.label :body %>
	<%= f.text_field :body %>
	<br>
	<%= f.label "Done?" %>
	<%= f.check_box :status %>
	<br>
	<%= f.submit "Submit" %>
	<% end %>
</div>