<div class="new_task" style="border: 1px solid black; width: 50%">
	<h1>To Do New</h1>
	<%= form_for @task do |f| %>
	<%= f.label :body %>
	<%= f.text_field :body %>
	<br>
	<%= f.label "Done?" %>
	<%= f.check_box :status %>
	<br>
	<%= f.submit "Submit" %>
	<% end %>
</div>